
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans+JP:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=JetBrains+Mono&family=Open+Sans:wght@300;400;600;700&display=swap');
:root {
    --color-negro: #000F08;
    --color-gris-oscuro: #1C3738;
    --color-verde: #67A960;
    --color-blanco: #fafaff;
    --color-gris-claro: #E3DBDB;
  }

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color-scheme: light dark;
    color: var(--color-negro);
    background-color: var(--color-blanco);
}

p {
    font-size: large;
}

.fixed-button {
    position: fixed;
    bottom: 20px;
    right: 20px; 
    z-index: 999; 
  }
  .fixed-button button {
    width: 50px;
    height: 50px;
    background-color: var(--color-verde);
    color: #fff;
    font-weight: 600;
    border: none;
    border-radius: 50%;
    cursor: pointer;
  }



/* HEADER */
nav{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 15vh;
    /* border-bottom: 1px solid var(--color-negro); */
}   
.header-h1 {
    text-decoration: none;
    color: var(--color-negro);
    font-size: 2.5rem;
    font-weight: 400;
    margin-left: 0%;
    cursor: pointer;
}
.links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20%;
    height: 100%;
}
.active {
    border: none;
    border-bottom: 5px solid var(--color-verde);
}
.inactive {
    border: none;
}
.links button{
    height: 100%;
    font-size: 1.2rem;
    background: none;
    color: var(--color-negro);
    cursor: pointer;
}
.barras {
    display: none;
    font-size: 2rem;
    cursor: pointer;
}
@keyframes aparecer {
    to {
        clip-path: inset(0 0 0 0); /* Termina en su posición original (abajo) */
    }
  }

@media (max-width: 800px){
    .links button{
        display: none;
    }
    .links{
        justify-content: end;
    }
    .barras{
        display: block;
    }
    nav{
        position: relative;
    }
    .links-mobile {
        clip-path: inset(0 0 100% 0);
        animation: aparecer 1s forwards;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 999;
        width: 100%;
        background-color: var(--color-blanco);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
    .links-mobile button{
        padding: 3rem;
        background: none;
        border: none;
        color: var(--color-negro);
        font-size: 2rem;
        cursor: pointer;
    }
    .links-mobile .active{
        border-bottom: 5px solid var(--color-verde);
    }



    
}

/* HERO */

.heroContainer{
    position: relative;
    padding: 1em;
    height: 70vh;
    color: var(--color-blanco);
    background: radial-gradient(ellipse at center, #000000 0%, #090013 50%, #120c1c 100%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;  
    gap: 2em;  
    z-index: 1;
}


.fondoHero{
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
}

#tsparticles{
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    z-index: -1;
}

.heroInfoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 100%;
    width: 100%;
    margin: 0 auto;
}
.profilePicContainer{
    display: flex;
    justify-content: end;
    height: 60%;
    margin-left: 1em;
}
.profilePic {
    border-radius: 50%;
}

.heroDescription{
    max-width: 50vw;
    animation: aparecerDesdeDerecha 1s forwards;
    animation-delay:0.5s;
    opacity: 0;
}
.heroDescription h2{
    letter-spacing: 5px;
    font-size: 2.5rem;
    text-shadow: 0px 0px 30px rgb(0, 0, 0);
    position: relative;
}
.swe{
    color:var(--color-verde);
    font-size: 3rem;
}

@keyframes aparecerDesdeDerecha {
    from {
      opacity: 0;
      transform: translateX(100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

@media (max-width: 800px){
    .heroContainer{
        height: 80vh;
    }
    .heroInfoContainer{
        flex-direction: column;
        gap: 0;
    }
    .profilePicContainer{
        justify-content: center;
        height: 50%;    
        max-width: 100%;
        margin: 0;
    }
    .heroDescription{
        display: flex;
        align-items: center;
        max-width: 100%;
    }
    .heroDescription h2{
        font-size: 2rem;
        text-align: center;
    }
}

/* Containers */
.contentContainer{
    min-height: 100vh;
    background-color: #f2f6f7;
    color: var(--color-negro);
    padding: 5vh 10vw 0px 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutme-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 5vh 10vw;
    background-color: #f2f6f7;
}
.proyectos-container{
    min-height: 100vh;
    background-color: #f2f6f7;
    color: var(--color-negro);
    padding: 5vh 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.page-header{
    display: none;
    color: #333938;
    margin-bottom: 2rem;
}



/* Content */
.contentContainer h2 {
    max-width: 50%;
    text-align: center;
    margin: 3rem;
}
.form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 40vw;
    color: var(--color-negro);
}
.form-container h1{
    color: var(--color-verde);
}
.form-container input{
    color: var(--color-negro);
    width: 100%;
    height: 5vh;
    background-color: #dad7cd;
    border: 1px solid #85837d;
    border-radius: 1vmin;
}
.form-container textarea{
    color: var(--color-negro);
    width: 100%;
    height: 10vh;
    background-color: #dad7cd;
    border: 1px solid #85837d;
    border-radius: 1vmin;
    resize: none;
}
.form-container button{
    width: fit-content;
    padding: 1rem;
    border: none;
    background-color: var(--color-gris-oscuro);
    color: var(--color-blanco);
    border-radius: 1vmin;
}
@media (max-width: 800px){
    .page-header{
        display: block;
    }
    .contentContainer{
        padding: 2rem;
    }
    .contentContainer h2 {
        max-width: 100%;
        margin: 0;
    }
    .form-container{
        width: 100%;
    }
}


/* MILIA */
.Milia{
    display: grid;
    grid-template: 0.2fr 0.8fr / 0.5fr 0.6fr;
    grid-template-areas: "title cards"
                        "description cards";
    place-items: center;
    margin-top: 10vh;
}
.miliaLogoContainer{
    max-width: 15vw;
}
.miliaLogoContainer img{
    width: 100%;
    height: 100%;
    object-fit: contain; /* or object-fit: cover; */
}

.miliaInfoContainer h2{
    grid-area: title;
}
.miliaInfoContainer p{
    grid-area: description;
}
.miliaInfoContainer p span{
    font-weight: bold;
    font-style: italic;
}
.miliaTecnologias{
    grid-area: description;
}

.miliaImgContainer{
    grid-area: cards;
    display: grid;
    place-items: center;
}
.card {
    background-color: rgb(93, 93, 93, 0.5);
    border-radius: 2vmin;
    border: 3px solid var(--color-gris-oscuro);
    position: absolute;
    aspect-ratio: 1 / 1;
    transition: transform 800ms cubic-bezier(.06,.9,.81,.94);
}
.miliaImgContainer,
.big-img{
    width: 30vw;
    max-width: 600px;
}
.big-img{
    aspect-ratio: 16/12;
}
.big-img2{
    aspect-ratio: 20/10;
    width: 40vw;
    max-width: 600px;
}
.small-img{
    aspect-ratio: 10 / 6;
    width: 20vw;
    max-width: 600px;
}

.big-img{
    background-image: url("https://imagenesportfolio.blob.core.windows.net/imgs/front-emi2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transform: translate(30%, -30%);
}
.big-img2{
    background-image: url("https://imagenesportfolio.blob.core.windows.net/imgs/admin-milia.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgba(26, 65, 184, 0.5);
    transform: translate(15%, -30%);
}
.miliaImgContainer:hover > .big-img{
    transform: translate(40%, -50%);
}
.miliaImgContainer:hover > .big-img2{
    transform: translate(0%, 0%);
}


@media (max-width: 1200px), (max-height: 600px){
    .miliaLogoContainer{
        max-width: 30vw;
    }
    .Milia {
        display: inline;
        padding: 0 2vw;
        margin-top: 1rem;
    }
    .miliaInfoContainer h2,
    .miliaInfoContainer p{
        grid-area: title;
    }
    .miliaImgContainer{
        display: none;
    }
    

}

/* ABOUT ME */
.aboutme-info{
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-bottom: 3rem;
}
.aboutme-info-p{
    color: var(--color-gris-oscuro);
    max-width: 40%;
    font-weight: 400;
    line-height: 2;
    text-align: center;
}
.aboutme-info-p span{
    color: var(--color-negro);
    font-size: 1.5rem;
    font-weight: 600;
}
.aboutme-info-uai{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    font-weight: 600;
    font-size: 1.2rem;
}
.aboutme-info-img{
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-negro);
    border-radius: 50%;
    padding: 3rem;
}
.aboutme-info-img img{
    width: 100%;
}

.aboutme-skills{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.aboutme-skills p{
    font-size: 1.2rem;
    font-weight: 400;
    text-align: center;
}

.skill-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 1rem;
}
.skill-container p{
    width: 30px;
}
.skill-container img{
    max-width: 50px;
}

.skill-bar {
    background-color: var(--color-gris-claro); /* Color de fondo de la barra */
    height: 30px; /* Altura de la barra */
    width: 400px; /* Longitud total de la barra */
}

.skill-level{
    height: 100%;
}

.aboutme-skills-languages .skill-container:nth-of-type(1) .skill-level {
    background-color: #f0db4f;
    width: 70%;
}
.aboutme-skills-languages .skill-container:nth-of-type(2) .skill-level {
    background-color: #377ef0;
    width: 90%;
}
.aboutme-skills-languages .skill-container:nth-of-type(3) .skill-level {
    background-color: #ea3737;
    width: 90%;
}
.aboutme-skills-languages .skill-container:nth-of-type(4) .skill-level {
    background-color: #61dafb;
    width: 60%;
}


.aboutme-certificados{
    color: var(--color-gris-oscuro);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}
.aboutme-certificados-dp900{
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 2rem;
}
.aboutme-certificados-dp900 p{
    color: #00a7f0;
    font-weight: 600;
}
.aboutme-certificados-dp900-img{
    max-width: 10vw;
}
.aboutme-certificados-dp900-img img{
    width: 100%;
}

.aboutme-certificados-cursos{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.aboutme-certificados-cursos li{
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 1rem;
}
.aboutme-skills-others{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}



/* FOOTER */
footer{
    background-color: var(--color-negro);
    color: var(--color-blanco);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.footerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.footerLinks{
    display: flex;
    flex-direction: column;
    font-size: 2rem;
}

footer a{
    fill: var(--color-gris-claro);
}

@media (max-width: 800px){
    .skill-bar {
        width: 60vw; /* Longitud total de la barra */
    }
    .aboutme-info{
        flex-direction: column;
        gap: 1rem;
    }
    .aboutme-info-p{
        max-width: 90%;
    }
    .aboutme-info-img{
        width: 60vw;
        height: 60vw;
    }
    .aboutme-certificados-dp900-img{
        max-width: 30vw;
    }

    .footerContainer{
        flex-direction: column;
        gap: 1rem;
    }
    .footerLinks{
        flex-direction: row;
        gap: 1rem;
    }
    
}
